<div class="index">

  <h3>Deployment <%= @deployment.id() %></h3>
  <br>

  <ul>
    <div class="index-item">
      <li class="deployment-list">General in Command: <%= @deployment.general().name() %></li>
      <li class="deployment-list">Legion deployed: <%= @deployment.legion().name() %></li>
      <li class="deployment-list">Campaign Start: <%= @deployment.start_date() %></li>
      <li class="deployment-list">Campaign Length: <%= @deployment.campaign_length() %> seasons</li>
      <li class="deployment-list">Deployment over: <%= @deployment.bool_to_text() %></li>

    </div>
  </ul>
  <br>
  <form action="/deployments/<%= @deployment.id() %>/end-deployment" method="post">
    <input type="submit" value="End Deployment">
  </form>


  <br>

</div>
