<div class="index">

  <h3>Deployment <%= @deployment.id() %></h3>
  <br>

    <div class="index-item">
      <p>General in Command: &nbsp <%= @deployment.general().name() %></p>
      <p>Legion deployed: &nbsp <%= @deployment.legion().name() %></p>
      <p>Campaign Start: &nbsp <%= @deployment.start_date() %></p>
      <p>Campaign Length: &nbsp <%= @deployment.campaign_length() %> seasons</p>
      <p>Deployment over: &nbsp <%= @deployment.bool_to_text() %></p>
    </div>
  <br>
  <form action="/deployments/<%= @deployment.id() %>/end-deployment" method="post">
    <input type="submit" value="End Deployment">
  </form>


  <br>

</div>
